<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mom-to-Mom</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="mainContainer">
      <h1>Connect with other parents like you</h1>
      <p>
        This page will have a Forum; maybe hosted with a site like nabble or
        everforo
      </p>
    </div>
  </body>
</html>
